{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container">
     <h1>Sobre Nosotros</h1>
     <br>
        <p>
            En PetNow, estamos comprometidos a impulsar el crecimiento y el éxito de nuestros socios en el mundo de las mascotas. Somos un equipo apasionado de profesionales dedicados a promover el desarrollo tecnológico y las mejores prácticas en el área de las mascotas.
        </p>
        <p>
            Nuestra misión es brindar a nuestros socios todas las herramientas y recursos necesarios para que puedan hacer negocios más sólidos y prósperos en la industria de las mascotas. Reconocemos la importancia que tienen las mascotas en la vida de las personas y estamos comprometidos a mejorar su bienestar y calidad de vida.
        </p>

        <div align="center"><img class="img.alineadoTextoImagenCentro" 
            src="{% static 'img/about/pet_care.png' %}"  width="25%"> 
          </div>


        <h2>Nuestros Valores</h2>
        <br>
        <ul>
            <li><strong>Pasión por las mascotas:</strong> Amamos a los animales y creemos en su importancia en la vida de las personas.</li>
            <li><strong>Innovación tecnológica:</strong> Impulsamos el desarrollo y la adopción de tecnologías avanzadas para mejorar la experiencia de nuestros socios y clientes.</li>
            <li><strong>Excelencia:</strong> Nos esforzamos por ofrecer servicios y soluciones de alta calidad para alcanzar los mejores resultados.</li>
            <li><strong>Colaboración:</strong> Trabajamos en equipo y en estrecha colaboración con nuestros socios para lograr objetivos comunes.</li>
            <li><strong>Ética y Responsabilidad:</strong> Guiamos nuestras acciones por principios éticos y somos responsables con nuestras decisiones y su impacto en el entorno.</li>
        </ul>

      
          

</div>
<div align="center"><img class="img.alineadoTextoImagenCentro" 
    src="{% static 'img/about/caracol.png' %}"  width="25%"> 
  </div>



{% endblock %}