{% extends 'base.html' %}

{% load static %}

{% block content %}

<center><h2>¿Que Beneficios tendras registrandote en PetNow?</h2></center>
<br>
<center><img class="img.alineadoTextoImagenCentro"  src="{% static 'img/about/newcat.png' %}" width="15%"> </center>
<br>
<div class="container">
<dl>
  <dd>🐾 <b>Mayor Visibilidad</b>: Al registrarse en la app, tu tienda ganará visibilidad entre una audiencia amplia y diversa de amantes de las mascotas, lo que podría aumentar tu alcance y atraer nuevos clientes.</dd>
<br>
  <dd>🐾 <b>Exposición Específica</b>: Llega directamente a tu público objetivo: personas interesadas en productos y servicios para mascotas. Tu tienda estará en un lugar donde se busca precisamente lo que ofreces.</dd>
<br>
  <dd>🐾 <b>Conexión con Clientes Locales</b>: La app puede ayudarte a conectarte con clientes locales que buscan productos cercanos a su ubicación. Esto es especialmente beneficioso para tiendas físicas.</dd>
<br>
  <dd>🐾 <b>Fidelización de Clientes</b>: Ofrece programas de recompensas y descuentos exclusivos para los usuarios de la app. Esto puede incentivar la fidelidad y la repetición de compras.</dd>
 <br>   
    
  <dd>🐾 <b>Feedback y Opiniones</b>: Obtén retroalimentación directa de los usuarios sobre tus productos y servicios. Esto te permitirá mejorar y ajustar tu oferta según las preferencias de tus clientes.</dd>
<br>
  <dd>🐾 <b>Promoción de Eventos</b>: Anuncia eventos especiales, ferias o lanzamientos de nuevos productos a través de la app para atraer a una audiencia específica y entusiasta.</dd>
<br>
</dl>
</div>

<center><img class="img.alineadoTextoImagenCentro"  src="{% static 'img/about/pastor aleman.png' %}" width="15%"> </center>
{% endblock %}