{% extends 'base.html' %}

{% load static %}

{% block content %}

<center><h2>Política de Privacidad</h2></center>

<div class="container">
<h4>Antecedentes Preliminares</h4>
<br>
<p> Al utilizar PetNow, usted, como usuario, nos confía su información. Mediante la presente política de privacidad (en adelante, la “Política”), informamos a nuestros usuarios cómo tratamos su información personal. Por tanto, con su consentimiento a la siguiente Política, usted autoriza a PetNow. y da su conformidad a la recopilación, procesamiento, uso y tratamiento de sus datos personales por nuestra parte, de conformidad con la normativa vigente en Argentina y en particular con la Ley 25.326 de Protección de Datos, así como cualquier norma que la reglamente, modifique o reemplace (en adelante, la “Normativa”). </p>

<p> Si nuestra página web (www.petnow.com) o nuestra aplicación "PetNow" para dispositivos móviles (en adelante, la "Plataforma") contiene enlaces que conducen a la página web de otro proveedor, nuestra Política no se aplica a la página web a la que se le remite.</p>
    
<p> Esta Política aplica a todos los usuarios de nuestra Plataforma y es necesario prestar su consentimiento expreso, libre e informado al momento de registrarse como usuario de PetNow.</p>
    
<p> Los usuarios garantizan y responden, en cualquier caso, sobre la veracidad, exactitud, vigencia y autenticidad de la Información Personal facilitada, y se comprometen a mantenerla debidamente actualizada.</p>
    
<p> Por favor, tómese el tiempo suficiente para leer esta Política detenidamente.</p>
    
<p> Si usted tiene cualquier pregunta sobre esta Política o el tratamiento que le damos a sus datos personales, por favor escribanos a los datos de contacto suministrados.</p>

<h4>Bases de la Politica</h4>
<br>
<p><b>1. Información de Contacto:</b>
PetNowApp es la entidad responsable de recopilar y procesar los datos. Puedes contactarnos en cualquier momento a través de correo electrónico a contacto@petnowapp.com o llamando al +54 9 1134921552.</p>

<p><b>2. Tipos de Datos Recopilados:</b>
Recopilamos información personal como nombres, direcciones de correo electrónico, información de pago, datos de ubicación y preferencias de usuario. También podemos recopilar información no personal como datos de uso y navegación.</p>

<p><b>3. Finalidad de la Recopilación:</b>
La información se recopila para proporcionar servicios personalizados, procesar pedidos, enviar información promocional, mejorar la experiencia del usuario y analizar el uso de nuestro sitio y aplicación.</p>

<p><b>4. Consentimiento del Usuario:</b>
Al usar nuestro sitio o aplicación, los usuarios otorgan su consentimiento implícito para recopilar y procesar sus datos según los términos de esta política.</p>

<p><b>5. Uso de los Datos:</b>
Los datos recopilados se utilizan para personalizar la experiencia del usuario, enviar comunicaciones de marketing, procesar transacciones y mejorar nuestros servicios.</p>

<p><b>6. Compartir Datos con Terceros:</b>
Podemos compartir datos con terceros proveedores de servicios, como servicios de pago y envío. También podemos compartir información con socios comerciales para fines promocionales.</p>

<p><b>7. Derechos de los Usuarios:</b>
Los usuarios tienen derecho a acceder a sus datos, rectificarlos, eliminarlos y objetar su procesamiento. Pueden ejercer estos derechos contactándonos a través de los medios proporcionados.</p>

<p><b>8. Seguridad de los Datos:</b>
Implementamos medidas de seguridad para proteger los datos personales de los usuarios contra el acceso no autorizado. Utilizamos cifrado, medidas de autenticación y políticas de acceso restringido.</p>

<p><b>9. Cookies y Tecnologías de Rastreo:</b>
Utilizamos cookies y tecnologías similares para mejorar la experiencia del usuario y analizar el tráfico del sitio. Los usuarios pueden controlar estas tecnologías a través de la configuración de su navegador.</p>

<p><b>10. Cambios en la Política:</b>
Nos reservamos el derecho de modificar esta política en cualquier momento. Los cambios se comunicarán a través de notificaciones en el sitio o por correo electrónico.</p>

<p><b>11. Información sobre Menores:</b>
Nuestros servicios no están dirigidos a menores de edad. No recopilamos intencionalmente datos personales de niños menores de 13 años.</p>

<p><b>12. Contacto para Preguntas y Consultas:</b>
Para preguntas o inquietudes sobre esta política de privacidad o tus datos personales, por favor contáctanos a través de contacto@petnowapp.com.</p>
</div>

{% endblock %}